.question-answer__container {
  display: flex;
  align-items: center;
}

.question-answer {
  margin-bottom: 1em;
  transform: rotate(-.75deg);
}

.question-answer__option {
	color: seagreen;
  font-size: 2em;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.question-answer__text {
  margin-left: 0.5em;
	color: white;
  font-size: 1.5em;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}


