.user-avatar {
  display: inline-block;
  position: relative;
}

.user-avatar__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
}

.user-avatar__image {
  height: 6em;
  width: 6em;
}

.user-avatar__blackout {
  filter:brightness(0)
}

.user-avatar__name {
  color: white;
  font-size: 1.5em;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.user-avatar__vip {
  color: gold;
  font-size: 1.25em;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  position: absolute;
  top: 0;
  left: 20px;
  transform: rotate(-15deg);
  letter-spacing: 3px;
}
