.new-game {
  width: 100%;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
}

.new-game__mobile {
  width: 100%;
  height: 100vh;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.new-game__title {
  font-size: 10vw;
  color: seagreen;
  text-shadow: -0.01em -0.01em 0 #000, 0.01em -0.01em 0 #000,
    -0.01em 0.01em 0 #000, 0.01em 0.01em 0 #000;
  transform: rotate(-2deg);
}

.new-game__room-code-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.new-game__room-code {
  letter-spacing: 0.5vw;
  font-size: 5vw;
  color: white;
  text-shadow: -0.01em -0.01em 0 #000, 0.01em -0.01em 0 #000,
    -0.01em 0.01em 0 #000, 0.01em 0.01em 0 #000;
}

.new-game__room-code > span:nth-child(odd) {
  display: inline-block;
  transform: rotate(3.5deg);
}

.new-game__room-code > span:nth-child(even) {
  display: inline-block;
  transform: rotate(-3.5deg);
}

.new-game__player-container {
  display: flex;
  margin-left: -20px;
  align-items: center;
}

.new-game__join-placeholder {
  margin-left: 20px;
  padding: 0.5vw;
  border: 1px solid;
  background-color: white;
  border-radius: 10%;
  display: flex;
}

.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  /* margin-left: 30px; */
  margin-top: 10px;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 5px);
  }
  100% {
    transform: translate(0, -0px);
  }
}
