.question-text {
  text-align: center;
  transform: rotate(.5deg);
  white-space: break-spaces;
	color: seagreen;
  font-size: 2em;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}